jQuery(document).ready ($) ->
  $(window).load ->
    if $('#legnagyobbmagyarpoll').length > 0
      legnagyobbmagyar_data =
        medgyes_renata:
          name: "Medgyes Renáta"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Megugrotta az európai színvonalat"
          category: "Sportolók"
        tomi_kid:
          name: "Tomi Kid Kovács"
          image: '<%= asset_path "legnagyobb/tomikid-500x500.jpg" %>'
          desc: "Jobb pofonokat adni, mint kapni"
          category: "Sportolók"
        priskin_tamas:
          name: "Priskin Tamás"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "A komáromi erőd ágyúi"
          category: "Sportolók"
        gergely_istvan:
          name: "Gergely István"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Kétszer nyerni az olimpiát"
          category: "Sportolók"
        radvanyi_miklos:
          name: "Radványi Miklós"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Mert kell egy csapat"
          category: "Sportolók"
        nemeth_szilard:
          name: "Németh Szilárd"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Aki a gólokat lőtte a tévében"
          category: "Sportolók"
        toth_erzsebet:
          name: "Tóth Erzsébet"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Néhány dolog aranyosi, ami fénylik"
          category: "Sportolók"
        vlcek_erik:
          name: "Vlček Erik"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Aranyember"
          category: "Sportolók"
        tarr_gyorgy:
          name: "Tarr György"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Hoki helyett kajak"
          category: "Sportolók"
        malina_hedvig:
          name: "Malina Hedvig"
          image: '<%= asset_path "legnagyobb/malina-500x500.jpg" %>'
          desc: "Kiállás, karakter, kitartás"
          category: "Közéleti személyiségek"
        tamas_ilona:
          name: "Tamás Ilona"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Nemzetbiztonsági kockázat"
          category: "Közéleti személyiségek"
        szvorak_katalin:
          name: "Szvorák Katalin"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Hangadó"
          category: "Közéleti személyiségek"
        meszaros_lajos:
          name: "Mészáros Lajos"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "A jog ereje"
          category: "Közéleti személyiségek"
        bauer_gyozo:
          name: "Bauer Győző"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Tudományosan bizonyított"
          category: "Közéleti személyiségek"
        huncik_peter:
          name: "Hunčík Péter"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "A nemzet lelkiismerete"
          category: "Közéleti személyiségek"
        petocz_kalman:
          name: "Petőcz Kálmán"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Itt van a nyugat"
          category: "Közéleti személyiségek"
        bardos_gyula:
          name: "Bárdos Gyula"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Az első magyar elnökjelölt"
          category: "Közéleti személyiségek"
        ollos_laszlo:
          name: "Öllös László"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Akit láttál a híradóban"
          category: "Közéleti személyiségek"
        agocs_gergely:
          name: "Agócs Gergely"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Egy dudás a csárdában"
          category: "Zenészek, kultúra"
        szarka_gyula:
          name: "Szarka Gyula"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Benne van a kutyavér"
          category: "Zenészek, kultúra"
        szarka_tamas:
          name: "Szarka Tamás"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Zene a világ végiig"
          category: "Zenészek, kultúra"
        szigeti_laszlo:
          name: "Szigeti László"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Irodalom határon innen és túl"
          category: "Zenészek, kultúra"
        nadasdi_peter:
          name: "Nádasdi Péter"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Zene-színház-közügyek"
          category: "Zenészek, kultúra"
        gyurcsik_tibor:
          name: "Gyurcsík Tibor"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Az X-faktor"
          category: "Zenészek, kultúra"
        gyurcsik_tibor:
          name: "Bott Frigyes"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "A jó bor dicsérete"
          category: "Vállalkozók"
        odor_lajos:
          name: "Ódor Lajos"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "A kulcsember"
          category: "Vállalkozók"
        vilagi_oszkar:
          name: "Világi Oszkár"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "A Slovnaft és a DAC"
          category: "Vállalkozók"
        zaszlos_gabor:
          name: "Zászlós Gábor"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Három a magyar gránit"
          category: "Vállalkozók"
        bodok_laszlo:
          name: "Bödők László"
          image: '<%= asset_path "legnagyobb/default-500x500.jpg" %>'
          desc: "Minden folyik"
          category: "Vállalkozók"

      ajax_error = ->
        alert 'Hiba történt a szerverrel való kommunikáció során. Zárd be ezt az ablakot és próbáld újra később! Ha nem tudsz újra szavazni, akkor a szavazatodat sikeresen fogadtuk és a hiba a hiba jelzésében keletkezett :)'
        return

      window.fbAsyncInit = ->
        FB.init
          appId: '267323596708516'
          status: true
          cookie: true
          xfbml: true
        jQuery.ajax(
          url: '/api/poll'
          dataType: 'json'
          type: 'GET').done (data) ->
          sum = 0
          max = 0
          jQuery.each data, (k, v) ->
            sum += parseInt(v)
            if parseInt(v) > max
              max = parseInt(v)
            return
          if sum > 0
            $('#music').empty data
            jQuery.each data, (k, v) ->
              `var data`
              if legnagyobbmagyar_data.hasOwnProperty(k)
                data2 = legnagyobbmagyar_data[k]
                data2['cat'] = data2['category'].hashCode()
                data = ''
                data += '<div class="profile col-sm-6 col-md-6 col-xs-12 ' + data2.cat + '-content" id="' + k + '">\n'
                data += ' <a href="/legnagyobbmagyar/' + k + '" rel="follow" title="' + data2.name + '">\n'
                data += '  <div class="single-album">\n'
                data += '   <img src="' + data2.image + '" alt="' + data2.name + '" />\n'
                data += '   <div class="album-heading">\n'
                data += '    <h3>' + data2.name + '</h3>\n'
                data += '   </div>\n'
                data += '   <div class="album-overlay">\n'
                data += '    <div class="album-info">\n'
                data += '     <h3>' + data2.name + '</h3>\n'
                data += '     <ul>\n'
                data += '      <li>' + data2.desc + '</li>\n'
                data += '     </ul>\n'
                data += '    </div>\n'
                data += '   </div>\n'
                data += '   <div class="poll-a" style="width: ' + (parseInt(v) * 100 / max).toString() + '%;"></div>\n'
                data += '   <div class="poll-b" style="width: ' + (100 - (parseInt(v) * 100 / max)).toString() + '%;"></div>\n'
                data += '  </div>\n'
                data += ' </a>\n'
                data += ' <div>\n'
                data += '  <div style="float: left;">\n'
                data += '   <button type="button" class="btn btn-default btn-sm">' + data2.category + '</button>\n'
                data += '   <button type="button" class="btn btn-default btn-sm szavazok">Szavazok</button>\n'
                data += '  </div>\n'
                data += '  <div style="float: right; font-size: 24px;">\n'
                data += parseInt(v).toString()
                data += '  </div>\n'
                data += ' </div>\n'
                data += '</div>\n'
                if $('#sidebar div button#' + data2.cat).length <= 0
                  $('#sidebar div').append('<button class="btn btn-default btn-sm" data_toggle="collapse" data-target=".' + data2.cat + '" id="' + data2.cat + '" onClick="$(\'.' + data2.cat + '-content\').toggle();" >' + data2.category + '</button>')
                $('#music').prepend data
                $('#' + k + ' button.szavazok').click ->
                  data = {}
                  data[k] = 1
                  jQuery.ajax(
                    url: '/api/poll'
                    dataType: 'json'
                    type: 'PATCH'
                    data: votes: data).done((data) ->
                    if data.status == 'error'
                      alert data.message
                    setTimeout (->
                      document.location.reload()
                      return
                    ), 1000
                    return
                  ).fail ->
                    alert 'Hiba történt a szerverrel való kommunikáció során. Zárd be ezt az ablakot és próbáld újra később! Ha nem tudsz újra szavazni, akkor a szavazatodat sikeresen fogadtuk és a hiba a hiba jelzésében keletkezett :)'
                    return
                  return
              else
                console.log k
              return
          return
        return

      ((d, s, id) ->
        js = undefined
        fjs = d.getElementsByTagName(s)[0]
        if d.getElementById(id)
          return
        js = d.createElement(s)
        js.id = id
        js.src = '//connect.facebook.net/en_US/all.js'
        fjs.parentNode.insertBefore js, fjs
        return
      ) document, 'script', 'facebook-jssdk'
    return
  return
